h2, h3 {
    font-family: Arial, sans-serif;
    color: #003399;
}

#comp{
    background-color: #f2f2f2;
    margin: 20px 0;
    padding: 15px;
    border-radius: 10px;
}

#str {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#caract{
    border: 1px solid black;
    padding: 8px;
}

#img, {
    width 60px
    height 40px
    border 1px solid #333
    border-radius  12px      
    opacity  0.85          
    display  flex
    align-items  center
    justify-content  center
    background  white
}

#mon {
    display: flex;
    gap: 15px;
} 